language: python
python:
- '3.6'
services: docker
git:
  depth: false
install: make build
stages:
- name: build
- name: publish
  if: branch = master AND type != pull_request
- name: publish-staging
  if: branch != master
jobs:
  include:
  - stage: build
    name: Build
    script:
    - make version version-pypi
    - make test-docker
  - stage: publish-staging
    name: Publish staging image
    script:
    - docker login -u="$QUAY_USERNAME" -p="$QUAY_PASSWORD" quay.io
    - make publish-staging
  - stage: publish
    name: Publish production image
    script:
    - docker login -u="$QUAY_USERNAME" -p="$QUAY_PASSWORD" quay.io
    - make publish-release
env:
  global:
  - BRANCH_NAME=${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}
  - secure: BuGtIYb/FOx1+b6a7G9A0wR4+FEssS1bmpB49bzrzqiHETwLq2KPtD+dRnxSYEYHyJyEMO79UFzsJoDSIogWv60ZWC5M8G7WzPnKJifrNX60x6beOXT/1ZGxEn/1wAEzoPwT0s3oKvOs2l8Myw4AZs/VJBcmGXXGQ/AqRG66QKn2OT0fiWi23tSy4gU0OEDQHzi0g3+jyxk4TH9B3/JdQcCffCdH6gAWY79EWS4wwCyDkxfdD1p+MASRikxiyDcozWbBR260aAGzGhw75es6KYeVcnayxR9An+RL1xH4X8qaInOx1P/RXIyjNlP3aHjJg4BGdE+8RepN49Q3dwp9o5Et09gRHJa6OWSX8iIjzvI6w5XsNG7DeNKl6sWXvXdHxn1hOZdhIM2y17q23nqXFkwvsE3N2hIxjmIm4NzJ40Mf98hJZ7wONcPohZ5oztDVdqA6qcUdo+ctBilQ3CPuMkDD4tFdD/8lbLUfZikLuFxhdgu+CR/1CpAzlfPul/kGvWS5H3L2a9YN5d8ULCZm8dyt9V7VNoo6NXw2B29Gq3aqHllK8HP7wzOgsJM4b6GDe4IWddg6QD/PX/Q78MW0iTTAHSZzvcVcjP2Bc6L2pHz6sH33tln3CxanvErkehe69welOjPpZc3DdSwEymqtZ/YukrBl+0HCcugLQYDbR2g=
  - secure: FILIT4chWFysCBUMRvJMOC8zn9MJMFU/5lD0yAfR3VK6Oq/P1PQkvmCUvUCGyWEG3uYlQWRz4EOl6YxmhbBZZwGVyuPPSrYbrKj0+4I9oFsrXtetOg8QaAMCNfTRpCe/uC4XP57QnNS8AymZfy2IKyU5vEFx/v99ftV4AmI8tfwshD4CCSAhgGFZkoFAkY/yt0ft6n5gExFQ/ZLMizP+Yv10Lw5ZBG4spNJaAHP3RI5ikqQR/oh47rzh2E7N+rJ+WhyDnfzU0FJkUpbPt8wc8IuW6lFm9OnvZEViOOpsiinkjqi3qi8s0m87n3rThVzHdyzbpuQBZlk/9nmzqkLzgNrVj9YoMtSeAiLwL98SgFoY5Zsdvdw4MuG4T80apraG+SnJR5JxLoGx8hoAT258iyFPL/knsBDi4xU7SuZzsLqA9fGXNmjkuf/e2pnqN053P7Bm8+vqmJ0Oqa2XB2AO55HFEhdY4MFrxzzpYOj7uPSVh1gSlaGoD7iML8Tsz5V9RJUXVLgs0yDZc/6Lb48KoHZKmLbt8MMh4xud43EadVzAYcOWk7FYbneBFn2beEDiN1JQ4kYnbyCPX74nPxjqc7aNEFsWkInVPNJQ2TBAFHQ5MUjGCHrT7YGkbYNbHh16Q+VYppjeVJWQ4Uod1V6KLXH1GMJ0E87ubJB1cuemc8I=
